.general-info
  .general-info-box
    .row-table
      .row-cell
        %i.icon.icon-track

      .row-cell
        %p
          %strong Lorem ipsum dolor quae
          %br
          sit amet officia sant

  .general-info-box
    .row-table
      .row-cell
        %i.icon.icon-clock

      .row-cell
        %p
          %strong Lorem ipsum dolor quae
          %br
          sit amet officia sant

  .general-info-box
    .row-table
      .row-cell
        %i.icon.icon-gift

      .row-cell
        %p
          Lorem ipsum dolor quae
          %br
          %strong sit amet officia sant
