.small-product
  .badges
    %span.badge.badge-offer OFFER
    %span.badge.badge-new NEW
    %span.badge.badge-discount 20%

  .cart-wishlist-options
    %a{ href: '/', class: 'add-to-cart' }
      %i.icon.icon-put-at-cart{ title: 'Add to cart' } Add to cart
    %a{ href: '/', class: 'put-at-wishlist' }
      %i.icon.icon-put-at-wishlist{ title: 'Add to wishlist' } Add to wishlist

  .product-image
    %a{ href: '/' }
      %figure
        = image_tag('http://place-hold.it/230x230/5787c7&text=Product', width: '230', height: '230', alt: 'Product', title: 'Product')

  .product-text
    %a{ href: '/' }
      %h3= lorem.word
    .prices
      %p
        %s.deleted-price 23,00€
        %strong.current-price 18,00€
