// Colors
$bl:                      #000;
$wh:                      #fff;
$grey:                    #777;
$bc:                      #cccfc9;
$blue:                    #083f88;
$pink:                    #fb8dc4;
$fouc:                    #fd7193;
$green:                   #9ebc36;
$petrol:                  #768eae;


// Fonts
$arimo:                   'Arimo', sans-serif;
$roboto:                  'Roboto', sans-serif;
$open-sans-conL:          'Open Sans Condensed Light', sans-serif;
$roboto-slab:             'Roboto Slab', serif;
$myriad:                  'Myriad Pro', Myriad, 'Liberation Sans', 'Nimbus Sans L', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$arial:                   Arial, Helvetica, sans-serif;
$georgia:                 Georgia, 'Times New Roman', Times, serif;


// Font size
$base-font-size:          14px;


// The default font family.
$base-font-family: $arimo;


// The default text color.
$base-text-color: $bl;
